<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supercarritodroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.jocasta.Application">
        <meta-data
            android:name="DATABASE"
            android:value="super_carrito_droid.db" />
        <meta-data
            android:name="VERSION"
            android:value="4"/>
        <meta-data
            android:name="DATABASE_DEBUG"
            android:value="true"/>
        <meta-data
            android:name="MODELS_PACKAGE"
            android:value="com.supercarritodroid.models"/>
        <activity
            android:name="com.supercarritodroid.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.supercarritodroid.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.supercarritodroid.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.supercarritodroid.ResultsActivity"
            android:label="@string/title_activity_results" >
        </activity>
        <activity
            android:name="com.supercarritodroid.NewProductActivity"
            android:label="@string/title_activity_new_product"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
    </application>

</manifest>